
/* Standard HTML tag reset */
body,
h1, h2, h3, h4, h5, h6,
p, 
form {
    border: 0;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-position: outside;
    margin: 12px;
    padding: 0px;    
    margin-bottom: 12px;
}

li {
    list-style-position: outside;
    margin: 12px;
    padding: 0px;    
    margin-bottom: 0px;
}

body,
form, input {
    background: #B0B0B0;
    color: #000000;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h1 {font-size: 18px;}
h2 {font-size: 16px;}
h3 {font-size: 14px;}
h4 {font-size: 12px;}
h5 {font-size: 8px;}
h6 {font-size: 6px;}

p {
    margin-bottom: 12px;
    font-size: 14px;
}

blockquote{
    width: 90%;
    margin: 12px;
}

a:link
a:visited{color: #0033CC;}
a:hover{color: #0000CC; }

.container {
    background: #FFFFFF;
    font-size: 13px;
    margin: 0 auto;
    padding: 12px;
    width: 855px;
}

#logo {
    background: #330066; /* url(img/logo.png); */
    color: #FFFFFF;
    padding: 12px;
    height: 60px;
}

#navbar {
    background: #666666; /* url(img/logo.png); */
    color: #FFFFFF;
    height: 0px /* 18 */ /* 36px */;
    margin-bottom: 0pt /* 6px */;
    padding: 0pt /* 6px */; /* 12px */
}

h1 {font-size: 18px;}
h2 {font-size: 16px;}
h3 {font-size: 14px;}
h4 {font-size: 12px;}
h5 {font-size: 8px;}
h6 {font-size: 6px;}


#intro {
	background: url('img/act-logo.png') no-repeat center right;
	background-color: #FFFFFF;
    color: #000000;
    height: 220px;
    margin-bottom: 6px;
    padding: 12px;
}
#intro h1 {font-size: 32px;}
#intro h2 {font-size: 20px;}
#intro h3 {font-size: 18px;}
#intro h4 {font-size: 16px;}
#intro h5 {font-size: 14px;}
#intro h6 {font-size: 12px;}

#leftcolumn {
    background: #EEEEEE;
    float: left;
    margin-right: 25px;
    margin-bottom: 6px;
    padding: 12px;
    width: 830px;
}

#sidebar {
    background: #003333;
    color: #FFFFFF;
    float: left;
    margin-bottom: 6px;
    padding: 12px;
    width: 296px;
}

#sidebar a:link{color: #FFBB00;}
#sidebar a:visited{color: #FFBB00;}
#sidebar a:hover{color: #FFBB00;}
#sidebar h1 {margin-bottom: 6px;}

#footer {
    background: #333333;
    clear: both;
    color: #FFFFFF;
    font-size: 11px;
    padding: 6px;
    padding-left: 12px;
    
}

.menu,
.menu ul,
.menu li,
.menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.menu {
    height: 35px;
    /* width: 505px; */

    border: 0;
    margin: 0px;
    padding: 0px;

    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	/*
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	*/
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
}

.menu li a {
	display: block;
	padding: 0 14px;
	margin: 6px 0;
	line-height: 28px;
	text-decoration: none;
	border-left: 1px solid #393942;
	border-right: 1px solid #4f5058;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #f3f3f3;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.menu li:first-child a { border-left: none; }
.menu li:last-child a{ border-right: none; }
.menu li:hover &gt; a { color: #8fde62; }

.menu ul li a {
	width: 100px;
	padding: 4px 0 4px 40px;
	margin: 0;
	border: none;
	border-bottom: 1px solid #353539;
}

.menu ul li:last-child a { border: none; }
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-jkmc{background-color:#f9f9f9;color:#000000;text-align:left;vertical-align:top}
.tg .tg-096r{color:#000000;text-align:left;vertical-align:top}
.tg .tg-buh4{background-color:#f9f9f9;text-align:left;vertical-align:top}
.tg .tg-nob6{color:#000000;text-align:right;vertical-align:top}
.tg .tg-14gg{background-color:#ffffff;color:#000000;text-align:left;vertical-align:top}
.tg .tg-lfan{background-color:#f9f9f9;color:#000000;text-align:right;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
